* {
    box-sizing: border-box;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin: 10px auto;
    background-color: lightblue;
}

.ship {
    background-color: pink;
}

.ship div {
    height: 40px;
    width: 40px;
}

.carrier {
    height: 40px;
    width: 200px;
    border-radius: 20%;
    display: flex;
}

.carrier-verticle {
    height: 200px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.battleship {
    height: 40px;
    width: 160px;
    border-radius: 20%;
    display: flex;
}

.battleship-verticle {
    height: 160px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.destroyer {
    height: 40px;
    width: 120px;
    border-radius: 20%;
    display: flex;
}

.destroyer1-verticle {
    height: 120px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.destroyer2-verticle {
    height: 120px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.patrol-boat {
    height: 40px;
    width: 80px;
    border-radius: 20%;
    display: flex;
}

.patrol-boat-verticle {
    height: 80px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}