* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin: 10px auto;
    background-color: lightblue;
}

.smaller-grid {
    border: 0.5px solid black;
}

.ship {
    /* background-color: pink; */
    border: 4px solid red
}

.ship div {
    height: 40px;
    width: 40px;
}

.carrier {
    height: 40px;
    width: 200px;
    border-radius: 20%;
    display: flex;
}

.carrier-verticle {
    height: 200px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.battleship {
    height: 40px;
    width: 160px;
    border-radius: 20%;
    display: flex;
}

.battleship-verticle {
    height: 160px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.destroyer {
    height: 40px;
    width: 120px;
    border-radius: 20%;
    display: flex;
}

.destroyer1-verticle {
    height: 120px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.destroyer2-verticle {
    height: 120px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.patrol-boat {
    height: 40px;
    width: 80px;
    border-radius: 20%;
    display: flex;
}

.patrol-boat-verticle {
    height: 80px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message-text {
    color: white;
    font-size: 2rem;
}

.winning-new-game-btn {
    padding: 10px 10px;
}