* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.display-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 10px
}

.ready-btn {
    padding: 10px 15px;
    margin-top: 5px;
    font-weight: 600;
}

.game {
    display: flex;
    justify-content: space-around;
}

.ship-container {
    width: 200px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ship-container h3 {
    margin-bottom: 1px;
}

.player-container, .computer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin: 10px auto;
    background-color: lightblue;
}

.smaller-grid {
    border: 0.5px solid black;
}

.computer-smaller-grid:hover {
    cursor: pointer;
    background-color: rgba(90, 150, 170, 0.5);
}

.ship-container {
    margin: 10px
}

.ship {
    border: 4px solid blue
}

.ship div {
    height: 40px;
    width: 40px;
}

.carrier {
    height: 40px;
    width: 200px;
    border-radius: 20%;
    display: flex;
}

.carrier-verticle {
    height: 200px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.battleship {
    height: 40px;
    width: 160px;
    border-radius: 20%;
    display: flex;
}

.battleship-verticle {
    height: 160px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.destroyer {
    height: 40px;
    width: 120px;
    border-radius: 20%;
    display: flex;
}

.destroyer1-verticle {
    height: 120px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.destroyer2-verticle {
    height: 120px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.patrol-boat {
    height: 40px;
    width: 80px;
    border-radius: 20%;
    display: flex;
}

.patrol-boat-verticle {
    height: 80px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
}

.computer-ship {
    border-radius: 20%;
    border: 4px solid blue;
}

.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(148, 143, 143, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message-text {
    color: white;
    font-size: 2rem;
}

.winning-new-game-btn {
    padding: 10px 10px;
}

.picked-square {
    background-color: rgb(153, 108, 179);
}

.hitted-square {
    background-color: rgb(190, 72, 92);
}

@media (max-width: 1200px) {
    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ship-container {
        width: auto;
        height: auto;
    }
}